.subPane{
    -fx-background-color: #4AE2E2;
    -fx-border-color: transparent;
}

.text-field{
    -fx-prompt-text-fill: #808080;
}

.validate{
    -fx-background-color: #9dff8c;
    -fx-text-fill: black;
}

.clear{
    -fx-background-color: #32b71b;
    -fx-text-fill: black;
}

.qualityLabel {
    -fx-alignment: center;
    -fx-text-fill: #9dff8c;
    -fx-text-alignment: center;
}

.qualityCircle {
    -fx-fill: grey;
    -fx-alignment: center;
}

.validate, .clear{
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
}